In [1]:
import pandas as pd
import category_encoders as ce
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = "E:\FYP\Algo_Application\ips_dataset.csv"
df = pd.read_csv(df,index_col = False)
df.head()

,Date & Time,Source IP,Destination IP,Source MAC,Destination MAC,Protocol,Flags,Src Port,Dst Port,Length,Packet
0,27-02-2020 11:34,192.168.0.50,192.168.0.20,40:f2:e9:9d:44:6b,00:90:e8:5e:d1:66,TCP,AP,60394,502,64,1
1,27-02-2020 11:34,192.168.0.20,192.168.0.50,00:90:e8:5e:d1:66,40:f2:e9:9d:44:6b,TCP,A,502,60394,40,1
2,27-02-2020 11:34,192.168.0.50,192.168.0.20,40:f2:e9:9d:44:6b,00:90:e8:5e:d1:66,TCP,AP,60394,502,52,1
3,27-02-2020 11:34,192.168.0.21,192.168.0.5,20:47:47:87:d4:96,00:1d:9c:a1:89:a4,TCP,S,59170,20000,48,1
4,27-02-2020 11:34,192.168.0.21,192.168.0.5,20:47:47:87:d4:96,00:1d:9c:a1:89:a4,TCP,A,59170,20000,40,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105150 entries, 0 to 105149
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date & Time      105150 non-null  object
 1   Source IP        105150 non-null  object
 2   Destination IP   105150 non-null  object
 3   Source MAC       105150 non-null  object
 4   Destination MAC  105150 non-null  object
 5   Protocol         105150 non-null  object
 6   Flags            105150 non-null  object
 7   Src Port         105150 non-null  int64
 8   Dst Port         105150 non-null  int64
 9   Length           105150 non-null  int64
 10  Packet           105150 non-null  int64
dtypes: int64(4), object(7)
memory usage: 8.8+ MB

In [5]:
df.isnull().sum()

Date & Time        0
Source IP          0
Destination IP     0
Source MAC         0
Destination MAC    0
Protocol           0
Flags              0
Src Port           0
Dst Port           0
Length             0
Packet             0
dtype: int64

In [6]:
df["Source IP"].unique()

array(['192.168.0.50', '192.168.0.20', '192.168.0.21', '192.168.0.5',
       '192.168.0.2', '192.168.0.122', '192.168.0.22', '192.168.0.204',
       '192.168.0.31', '192.168.0.35', '192.168.0.200', '192.168.0.175',
       '192.168.0.45'], dtype=object)

In [7]:
df["Protocol"].unique()

array(['TCP', 'Modbus', 'DNP3', 'ICMP', 'UDP'], dtype=object)

In [8]:
df["Flags"].unique()

array(['AP', 'A', 'S', '0', 'AR', 'AS', 'ASF', 'SEC', 'AF', 'R', 'APF',
       'UPSF', 'UPF'], dtype=object)

In [9]:
df = df.sample(frac = 1).reset_index(drop=True)
df.head()

,Date & Time,Source IP,Destination IP,Source MAC,Destination MAC,Protocol,Flags,Src Port,Dst Port,Length,Packet
0,27-02-2020 18:40,192.168.0.21,192.168.0.20,20:47:47:87:d4:96,00:90:e8:5e:d1:66,ICMP,0,60550,0,60,1
1,27-02-2020 12:06,192.168.0.5,192.168.0.22,00:1d:9c:a1:89:a4,08:00:27:e6:e5:59,Modbus,AP,44818,57545,110,1
2,10-04-2020 16:16,192.168.0.35,192.168.0.20,b8:ae:ed:b0:c1:cb,00:90:e8:5e:d1:93,UDP,0,46853,502,1500,0
3,16-03-2020 13:39,192.168.0.175,192.168.0.20,00:11:22:33:44:55,00:90:e8:5e:d1:66,Modbus,AP,63802,502,52,0
4,17-03-2020 13:53,192.168.0.20,192.168.0.35,00:90:e8:5e:d1:66,b8:ae:ed:b0:c1:cb,TCP,AS,502,63802,44,0

In [10]:
df.columns

Index(['Date & Time', 'Source IP', 'Destination IP', 'Source MAC',
       'Destination MAC', 'Protocol', 'Flags', 'Src Port', 'Dst Port',
       'Length', 'Packet'],
      dtype='object')

In [11]:
X = df[['Source IP', 'Destination IP', 'Source MAC', 'Destination MAC', 'Protocol', 'Flags', 'Src Port', 'Dst Port',
       'Length']].values
X

array([['192.168.0.21', '192.168.0.20', '20:47:47:87:d4:96', ..., 60550,
        0, 60],
       ['192.168.0.5', '192.168.0.22', '00:1d:9c:a1:89:a4', ..., 44818,
        57545, 110],
       ['192.168.0.35', '192.168.0.20', 'b8:ae:ed:b0:c1:cb', ..., 46853,
        502, 1500],
       ...,
       ['192.168.0.175', '192.168.0.5', '00:11:22:33:44:55', ..., 46853,
        477, 44],
       ['192.168.0.21', '192.168.0.122', '20:47:47:87:d4:96', ..., 52428,
        502, 52],
       ['192.168.0.204', '192.168.0.5', 'b8:ae:ed:b0:c1:a5', ..., 63802,
        80, 54]], dtype=object)

In [12]:
y = df["Packet"].values
y

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [13]:
ce_bin = ce.BinaryEncoder(return_df=False)
enc_bin = ce_bin.fit(X)

c:\users\admin\appdata\local\programs\python\python38\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [14]:
X = enc_bin.transform(X)
X

array([[    0,     0,     0, ..., 60550,     0,    60],
       [    0,     0,     0, ..., 44818, 57545,   110],
       [    0,     0,     0, ..., 46853,   502,  1500],
       ...,
       [    0,     0,     1, ..., 46853,   477,    44],
       [    0,     0,     0, ..., 52428,   502,    52],
       [    0,     1,     0, ..., 63802,    80,    54]], dtype=int64)

In [15]:
X.shape

(105150, 39)

In [16]:
X[0]

array([    0,     0,     0,     0,     1,     0,     0,     0,     0,
           1,     0,     0,     0,     0,     0,     0,     0,     1,
           0,     0,     0,     0,     0,     0,     0,     0,     1,
           0,     0,     0,     1,     0,     0,     0,     0,     1,
       60550,     0,    60], dtype=int64)